@charset "utf-8";

/* HTML Elements */
body {
	}

/* Header Styles */

h1, h2, h3 {
	font-family : Tahoma, Verdana, 'Trebuchet MS', Sans-serif;
	font-weight : bold;
}

h1 {
	font-size : 120%;
}

h2 {
	font-size : 110%;
	color : #cc9900;
}

h3 {
	font-size : 110%;
	color : #cc6600;
}

/* Header Layout */
#header {
	background-color : #ffffff;
	width : 100%;
}

#header-main {
	position:relative;
	width : 90%;
}

#header-left {
	position : inherit;
	height:100px;
	background-image:url(banner-left.jpg);
	background-repeat : no-repeat;
}

#header-right {
	position : inherit;
	float:right;
	margin-top : -115px;
	width:252px;
	height:100px;
	background-image:url(banner-right.jpg);
	background-position: right;
}

/* Header Logo and Slogan */
#logo-text {
	
}

#logo-slogan {
	position : inherit;
	float:right;
	width: 275px;
	margin-top :75px;	
	margin-right : 15px;
	font : bolder 1.1em Geneva, Arial, Helvetica, sans-serif;
	letter-spacing : -2px;
	text-align : right;
	color : #333333;
        font-size:1em;
}


/* Navigation Bar */
#separate {
	height : 5px;
	border-bottom : none;
}

/* Content */

#content {
	position:absolute;
	background : #ffffff;
	border-bottom : 8px solid #ffffff;
	height:100%;
	width:80%;
        left:500px;
}

#content h1 {
	margin-top : 10px;	
	font : bold 125% Verdana, 'Trebuchet MS', Sans-serif;
	color : #ff9900;
	padding : 5px 0 5px 15px;
	border-bottom : 1px solid #f8f4f1;
	text-align : justify;
	background : url(post-bullet.png) no-repeat 0 56%;
}

#wrap {
	width : 100%;
	background-color : #ffffff;
	margin : 0 auto;
	text-align : left;
}

#content-wrap {
	position:absolute;
	width : 100%;
	background : #f8f4f1;
	margin : 0 auto;
	padding-bottom : 20px;
	text-align : left;
        height  :100%;
}

/* Sidebar */

#sidebar {
	position:absolute;
	float : left;
	width : 500px;
	height: 100%;
	background : #ede7e1;
}

#sidebar h1 {
	margin-top : 0;
	padding : 5px 0 5px 5px;
	font : bold 0.9em Verdana, 'Trebuchet MS', Sans-serif;
	color : #ffffff;
	background : #494949;
}

#sidebar .left-box {
	background : #ede7e1;
	margin-top : 0;
	border-bottom : 10px solid #f8f4f1;
	padding-left : 5px;
}

#sidebar ul.sidemenu {
	margin-left : 3px;
	list-style : none;
	text-align : left;
	margin : 3px 0 8px 0;
	padding : 0;
	text-decoration : none;
}

#sidebar ul.sidemenu li {
	margin-left : 3px;
	padding : 2px 0 2px 25px;
	background : url(bullet.png) no-repeat 5px 5px;
	margin : 0 2px;
}

#sidebar ul.sidemenu a {
	font-weight : bolder;
	text-decoration : none;
	background-image : none;
}

/* Images */

img {
	border : none;
}

img.float-right {
	margin : 5px 0 10px 10px;
}

img.float-left {
	margin : 5px 10px 10px 0;
}

code {
	margin : 4px 8px;
	padding : 8px;
	text-align : left;
	display : block;
	overflow : auto;
	font : 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background : #f8f4f1;
	border : 1px dashed #D7C3C3;
}

/* Additional Formatting */

blockquote {
	margin : 10px;
	padding : 0 0 0 40px;
	border : 1px solid #D7C3C3;
	background : #f8f4f1 url(quote.png) no-repeat 5px 5px;
}

ul, ol {
	margin : 5px 20px;
	padding : 0 20px;
	color : #333333;
}

ul span, ol span {
	color : #333333;
}

form {
	margin : 10px;
	padding : 0 5px;
	border : 1px solid #D7C3C3;
	background-color : #f8f4f1;
}

label {
	display : block;
	font-weight : bold;
	margin : 5px 0;
	color: #333333;
}

input {
	padding : 2px;
	border : 1px solid #D7C3C3;
	font : normal 1em Verdana, sans-serif;
	color : #000000;
	background-color : #ffffff;
}

textarea {
	width : 400px;
	padding : 2px;
	font-family : Verdana, sans-serif;
	border : 1px solid #D7C3C3;
	background-color : #ffffff;
	height : 100px;
	display : block;
	color : #000;
}

input.button {
	margin : 0;
	font : bolder 12px Arial, Sans-serif;
	border : 1px solid #ccc;
	padding : 2px 3px;
	background : #fff;
	color : #131212;
}

/* Footer */

#footer {
	position:absolute;
	bottom :0;
	width : 100%;
	background : #aaffee;
	border-top : 1px solid black;
	border-bottom : 5px solid gray;
}

/* Post Footer */

.post-footer {
	border-bottom : 1px solid #D7C3C3;
	padding : 5px;
	margin : 20px 10px 0 2px;
	font-size : 95%;
	background-color : #f8f4f1;
}

.post-footer .date {
	padding-left : 20px;
	margin : 0 10px 0 5px;
	text-align : right;
	font-size : 9px;
	color : #009900;
}

.post-footer .readmore {
	background : url(page.gif) no-repeat left center;
	padding-left : 20px;
	margin : 0 10px 0 5px;
}

 body {
                    margin-left: 0px;
                    margin-top: 0px;
                    margin-right: 0px;
                    margin-bottom: 0px;
                }
                a:link {
                    color: #333333;
                }
                a:visited {
                    color: #333333;
                }
