.timeline-ether-marker-bottom {
    width:          5em; 
    height:         1.5em; 
    border-left:    1px solid #aaa; 
    padding-left:   2px; 
    color:          #aaa;
}

.timeline-ether-marker-bottom-emphasized {
    width:          5em; 
    height:         2em; 
    border-left:    1px solid #aaa; 
    padding-left:   2px; 
    color:          black;
}

.timeline-ether-marker-top {
    width:          5em; 
    height:         1.5em; 
    border-left:    1px solid #aaa; 
    padding-left:   2px; 
    color:          #aaa;
}

.timeline-ether-marker-top-emphasized {
    width:          5em; 
    height:         2em; 
    border-left:    1px solid #aaa; 
    padding-left:   2px; 
    color:          black;
}


.timeline-ether-marker-right {
    width:          5em; 
    height:         1.5em; 
    border-top:     1px solid #aaa; 
    padding-top:    2px; 
    color:          #aaa;
}

.timeline-ether-marker-right-emphasized {
    width:          7em; 
    height:         1.5em; 
    border-top:     1px solid #aaa; 
    padding-top:    2px; 
    color:          black;
}
.timeline-ether-marker-left {
    width:          5em; 
    height:         1.5em; 
    border-top:     1px solid #aaa; 
    padding-top:    2px; 
    color:          #aaa;
}

.timeline-ether-marker-left-emphasized {
    width:          7em; 
    height:         1.5em; 
    border-top:     1px solid #aaa; 
    padding-top:    2px; 
    color:          black;
}
.timeline-duration-event {
    position: absolute;
    overflow: hidden;
    border: 1px solid blue;
}

.timeline-instant-event2 {
    position: absolute;
    overflow: hidden;
    border-left: 1px solid blue;
    padding-left: 2px;
}

.timeline-instant-event {
    position: absolute;
    overflow: hidden;
}

.timeline-event-bubble-title {
    
    /*geomatys*/
    /*font-weight: bold;
    border-bottom: 1px solid #888;*/
    margin-bottom: 0.5em;
    /*geomatys*/
    display:none;
}

.timeline-event-bubble-body {
    /*geomatys*/
    font-weight:bold;
    font-size:0.8em;
    text-decoration:underline;
}
/*geomatys*/
.timeline-event-bubble-time {
    
    font-size:0.8em;
}
.timeline-event-bubble-wiki {
    margin:     0.5em;
    text-align: right;
    color:      #A0A040;
}
.timeline-event-bubble-wiki a {
    color:      #A0A040;
}

.timeline-event-bubble-time {
    color: #aaa;
}

.timeline-event-bubble-image {
    float: right;
    padding-left: 5px;
    padding-bottom: 5px;
    }.timeline-container {
    position: relative;
    overflow: hidden;
}

.timeline-copyright {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    cursor: pointer;
}

.timeline-message-container {
    position:   absolute;
    top:        30%;
    left:       35%;
    right:      35%;
    z-index:    1000;
    display:    none;
}
.timeline-message {
    font-size:      120%;
    font-weight:    bold;
    text-align:     center;
}
.timeline-message img {
    vertical-align: middle;
}

.timeline-band {
    position:   absolute;
    background: #eee;
    z-index:    10;
}

.timeline-band-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.timeline-band-input {
    position:   absolute;
    width:      1em;
    height:     1em;
    overflow:   hidden;
    z-index:    0;
}
.timeline-band-input input{
    width:      0;
}

.timeline-band-layer {
    position:   absolute;
    width:      100%;
    height:     100%;
}

.timeline-band-layer-inner {
    position:   relative;
    width:      100%;
    height:     100%;
}


/* Css for the timeline control component */
.timeline-wrap {
    -moz-border-radius:20px;
    background:#8CB7E7;
    border:3px ridge #D6E3F2;
    height:170px;
    padding-bottom:6px;
    padding-left:10px;
    
}

.mf-table{
    height:100%;
}

.mf-table-headercell {
    border-right-color:#D0D0D0;
    border-right-style:solid;
    border-right-width:1px;
    float:left;
    height:1.3em;
    overflow:hidden;
    white-space:nowrap;
    padding:3px;
    text-align:center;
    font-size-adjust:none;
    line-height:15px;
}

.mf-table-header {
    height:21px;
    background-color:#BED6F8;
    background-image:url(resource.jsf?r=/org/mapfaces/resources/treetable/images/default/panel/white-top-bottom.gif);
    background-position:left top;
    background-repeat:repeat-x;
    border:1px solid #99BBE8;
    padding:3px;
    position:relative;
    font-family:tahoma,arial,verdana,sans-serif;
    color:#15428B;
    font-size:11px;
    font-weight:bold;
}

.mf-table-thead {
    border-bottom:1px solid #C0C0C0;
    height:28px;
}
.mf-table-column1{
    
}
.mf-table-column2{
    width:100px;
}
.mf-subtable-line {
    border:1px solid #99BBE8;
    color:#15428B;
    font-size:11px;
    position:relative;
    height:35px;
    padding:3px;
}
.mf-subtable-cell{
    margin:0px 0pt;
    float:left;
    overflow:hidden;
    height:100%;
    border-right:1px solid #99BBE8;
    padding-left:3px;
    padding-right:3px;
}
.mf-subtable-main{
    padding:2px;
    background:#FFF1C7;
}

