/* 
Document   : dragndrop
Created on : 8 sept. 2008, 15:24:15
Author     : kdelfour
Description:
This document is valid in accordance with the recommendation CSS version 2.1
This document is valid in accordance with the recommendation CSS version 3
This style is include in all css tree by default
*/
.dragable{
    cursor:move;
    border:1px dotted #ccc;
    float:left;
    position:relative;
}

.droppable{
    border:2px solid #ccc;
    float:left;
}

.mo{
    background:#eee;
}

.locked{
    cursor:default;
    background:#fffea1;
}

.locked-border{
    border:1px solid #fc0;
}