/* 
    Document   : dragndrop
    Created on : 8 sept. 2008, 15:24:15
    Author     : kdelfour
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.dragable {
    position:relative; 
    cursor:move; 
    border:1px dotted #ccc; 
    float:left; 
}

.droppable {
    border:2px solid #ccc;
     float:left;
}  
.mo {
    background:#eee;
}  
.locked {
    cursor:default;
    background:#fffea1;
}  
.locked-border  {
    border:1px solid #fc0;
}  