<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>Mapfaces</display-name>
    
    <!-- LISTENER -->

    <listener>
        <listener-class>org.mapfaces.share.listener.SessionListener</listener-class>
    </listener>
    
    <!-- FILTER-->

    <filter>
        <display-name>Ajax4jsf Filter</display-name>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <!-- CONTEXT PARAM-->
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
                /WEB-INF/faces-config-bean.xml, 
                /WEB-INF/faces-config.xml,
                /WEB-INF/faces-config-tree.xml, 
                /WEB-INF/faces-config-treelayout.xml,
                /WEB-INF/faces-config-timeline.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <description>
			When set to true(by default it is false), Chartlet servlet is used to generate the chart, otherwise
			a phaselistener is used
        </description>
        <param-name>net.sf.jsfcomp.chartcreator.USE_CHARTLET</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- SERVLET -->

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Chartlet</servlet-name>
        <servlet-class>net.sf.jsfcomp.chartcreator.Chartlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chartlet</servlet-name>
        <url-pattern>*.chart</url-pattern>
    </servlet-mapping>

    <!-- SESSION CONFIG -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>


    <!-- WELCOME FILE-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
